<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Home" icon-off="ion-android-home" icon-on="ion-android-home" href="#/app/dash">
    <ion-nav-view name="app-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Rating" icon-off="ion-android-star-half" icon-on="ion-android-star-half" href="#/app/chats">
    <ion-nav-view name="app-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-off="ion-android-settings" icon-on="ion-android-settings" href="#/app/account">
    <ion-nav-view name="app-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
